@tailwind base;
@tailwind components;
@tailwind utilities;

.anim-grow {
  animation: grow 0.3s;
}

@keyframe Grow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
